.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  padding: 0 1rem;
  gap: 1rem;
  /* place-items: center; */
}

/* .horizontal-flex {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  cursor: grab;
  overflow-x: scroll;
}
.horizontal-flex .item {
  flex: 0 0 168px;
} */

/* .movieCard:hover .overview {
  opacity: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.overview {
  opacity: 0;
  transition: 0.3s ease-in-out;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.title {
  max-width: 18ch;
} */
