.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  /* grid-template-columns: 2fr 2fr; */
  padding: 0 1rem;
  gap: 0.8rem;
  place-items: center;
}

.movieCard {
  width: 100%;
  /* border: 1px solid white; */
  /* max-width: 168px; */
}

.movieCard:hover img {
  /* display the overview  */
  /* transition: scale(1.1) 3s ease-in-out; */
}
.movieCard:hover .overview {
  opacity: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.overview {
  opacity: 0;
  transition: 0.3s ease-in-out;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.title {
  max-width: 18ch;
}
