@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito", sans-serif;
  /* line-height: 1.5; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --nav-height: 3.8rem;
  --max-width: 1440px;

  --color-primary: 180deg 100% 25%; /* Accent Color 1 */
  --color-secondary: 168deg 83.8% 70%; /* Accent Color 2 */
  --color-bkg: 210deg 40% 98%; /* Light Background */
  --color-bkg-alt: 0deg 0% 90%; /* Light Background Alt */
  --color-content: 217deg 32.6% 17.5%; /* Text Color */
  --color-content-secondary: 217deg 32.6% 37.5%; /* Lighter Text Color */
  --color-border: 0deg 0% 85%; /* Border Color */
}

:root[class="dark"] {
  --color-primary: 180deg 100% 75%; /* Darker Accent 1 */
  --color-secondary: 168deg 83.8% 60%; /* Darker Accent 2 */
  --color-bkg: 217deg 32.6% 12.3%; /* Dark Background */
  --color-bkg-alt: 217deg 32.6% 10%; /* Darker Background Alt */
  --color-content: 210deg 40% 98%; /* Light Text Color */
  --color-content-secondary: 217deg 32.6% 80%; /* Slightly Muted Text */
  --color-border: 217deg 32.6% 20%; /* Border Color */
}

body {
  min-height: 100%;
  /* padding-top: var(--nav-height); */
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  padding: 0 1rem;
  gap: 1rem;
}
