@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --nav-height: 3.8rem;
  --accent-1: 288deg 95.8% 90.6%;
  --accent-2: 168deg 83.8% 78.2%;
  --color-bkg: 210deg 40% 98%;
  --color-content: 217deg 32.6% 17.5%;
  --primary-color: #2c2f33;
  --secondary-color: #e5e5e5;
}

:root[class="dark"] {
  --accent-1: 168deg 83.8% 78.2%;
  --accent-2: 288deg 95.8% 90.6%;
  --color-bkg: 217deg 32.6% 27.5%;
  --color-content: 210deg 40% 98%;
  --secondary-color: #2c2f33;
  --primary-color: #e5e5e5;
}

body {
  min-height: 100vh;
  padding-top: var(--nav-height);
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  padding: 0 1rem;
  gap: 1rem;
}
