/* Nunito fontFamily */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* roboto */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Nunito", sans-serif;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --nav-height: 3.8rem;
    --color-bkg: 210deg 40% 98%;
    --color-content: 217deg 32.6% 17.5%;
    --accent-1: 288deg 95.8% 90.6%;
    --accent-2: 168deg 83.8% 78.2%;
  }

  :root[class="dark"] {
    --color-bkg: 217deg 32.6% 27.5%;
    --color-content: 210deg 40% 98%;
    --accent-1: 168deg 83.8% 78.2%;
    --accent-2: 288deg 95.8% 90.6%;
  }
}

body {
  min-height: 100vh;
  padding-top: var(--nav-height);
}

.underNavbar {
  /* height: calc((100%-var(--nav-height))); */
  padding-top: var(--nav-height) !important;
  min-height: 100vh;
}

.filter-navbar {
  filter: blur(15px);
}

.image-overlay {
  border-image: fill 0 linear-gradient(#0003, #191919);
}
.detail-overlay {
  border-image: fill 0 linear-gradient(#000, #0003);
}
.image-dark-overlay-bottom {
  border-image: fill 0 linear-gradient(#0008, #191919);
}
.image-dark-overlay-top {
  border-image: fill 0 linear-gradient(#191919, #0008);
}
.hero-image-overlay {
  border-image: fill 0 linear-gradient(#0003, #222121ff);
}

.gray-image {
  filter: grayscale(65%);
}
